@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
   
}
img{
    width: 200px;
    height: 200px !important;
    object-fit: cover;
}
.card-title{
    opacity: 0.8;
    color: black !important;
    background-color: #9966CC;
    text-align: center; 
    line-height: 3px;
    font-size: 150% !important;
}

.tittle-index{
    border: solid red 3px;
    text-align: center;
    margin-bottom: 100px;
}

#Static{
    height: 100px;
    background-color: aquamarine;
    color: black;
    display: block;
    position:static;
  margin:auto;
  top: 0;bottom:0;left:0;right:0;
}
#Static:hover{
    border:solid black 2px;
   color: blue;
}
#Dinamic{
    height: 100px;
    background-color:pink;
    color: black;
    display: block;
    position:static;
  margin:auto;
  top: 0;bottom:0;left:0;right:0;
}
#Dinamic:hover{
    border:solid black 2px;
   color: blue;
}
.contain-return{
    margin-bottom: 20px;
}
#return{
    background-color:royalblue;
    color: black;
    border-radius: 25px;
    border: solid 2px black;
    display: block;
    position:static;
  margin:auto;
  top: 0;bottom:0;left:0;right:0;

}
#return:hover{
   color: white;
}
.btnGuardar {
    white-space: normal;
    background: rgb(54, 156, 127);
    border: none;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    width: 170px;
    padding: 8px;
  }
  .btnGuardar:hover {
    color: #bbb;
    cursor: pointer;
  }
  